body {
    background-color: #eeeeee;
    font-family: sans-serif, Helvetica;
    font-size: 16px;
    line-height: 1.5;
}

.header {
    text-align: center;
    border-bottom: 1px solid;
}

.info {
    background-color: #ffffff;
    width: 515px;
    height: 750px;
    margin: 4px auto 45px;
    padding: 50px;
    box-shadow: 0 0 4px -1px;
}

.hr {
    padding: 0 0 3px 0;
    border-bottom: 1px solid;
}